.ptc{
    color:rebeccapurple;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 10px;
}

.container{
    margin: 20px;
}

.error{
    color: red;
}

.sharepoint{
    background-color: lightseagreen;
}

.react {
    background-color : lightslategray;
}